* {
    margin: 0;
    padding: 0;
}

.a {
    padding-left: 30px !important;
}

.header-corner {
    padding-right: 20px !important;
}

nav {
    background: rgb(171, 171, 171);
}

.parte-2 {
    margin-top: 30px;
    justify-content: space-evenly;
}

.footer-copyright {
    background: rgb(171, 171, 171);
}

.footer {
    margin: 0;
}

@media (max-width: 992px) {
    .parte-2 {
        flex-direction: column;
        align-items: center;
    }
}